body{
	background:linear-gradient(120deg, #2980b9, #8e44ad);
	height: 100vh;
}
.REGISTRATION{
	font-size: 16PX;
	width:500px;
	height: 22px;
	color:black;
}

button{
    width: 100px;
	height: 30px;
	text-decoration-color: red;
}